:root {
    --accent:                 rgb(247, 151, 0);
    --accent-alpha-20:   rgba(247, 151, 0, .2);
    --accent-alpha-70:   rgba(247, 151, 0, .7);
    --background:              rgb(40, 40, 40);
    --color:                rgb(233, 219, 176);
    --border-color:    rgba(255, 255, 255, .1);
}